# Large datasets
*.csv
*.sav
*.pt
*.pth
*.npy

# Exceptions (keep final models)
!ML/fk_model.pth
!ML/ik_model.onnx

# Python cache
__pycache__/
*.pyc

# Build files
build/
*.exe
*.dll
*.obj
*.lib

# Logs
*.log
